<ion-content fullscreen class="login-content">
  <div class="bg-layer"></div>

  <div class="content-wrapper">
    <ng-container *ngIf="!confirmSelected">
      <div class="selection-overlay">
        <div class="logo-container">
          <img class="logo" src="assets/logo_coruja_svg.png" alt="Logo" />
        </div>
        <h1>Olá, qual login deseja fazer?</h1>

        <div class="type-buttons">
          <ion-button
            *ngFor="let type of userTypes"
            (click)="selectType(type)"
            [class.selected]="selectedType === type"
            expand="block"
          >
            {{ type }}
          </ion-button>
        </div>
      </div>
    </ng-container>

    <!-- 2) Formulário de login -->
    <ng-container *ngIf="confirmSelected">
      <div class="login-overlay">
        <div class="login-header">
          <img src="assets/logo_coruja_svg.png" alt="Logo" class="logo" />
        </div>
        <h1>Login – {{ selectedType }}</h1>

        <form [formGroup]="loginForm" class="login-form">
          <ion-item lines="none">
            <ion-icon name="mail-outline" slot="start"></ion-icon>
            <ion-input formControlName="email" placeholder="E-mail"></ion-input>
          </ion-item>

          <ion-item lines="none">
            <ion-icon
              [name]="passwordVisible ? 'eye-off-outline' : 'eye-outline'"
              slot="end"
              (click)="passwordVisible = !passwordVisible"
            ></ion-icon>
            <ion-input
              [type]="passwordVisible ? 'text' : 'password'"
              formControlName="password"
              placeholder="Senha"
            ></ion-input>
          </ion-item>
        </form>

        <ion-item lines="none" class="remember-item">
          <ion-checkbox
            [checked]="loginForm.get('rememberMe')!.value"
            (ionChange)="onRememberChange($event)"
            >Lembrar de mim</ion-checkbox
          >
        </ion-item>

        <ion-button
          expand="block"
          (click)="onSubmit()"
          [disabled]="loginForm.invalid"
        >
          Entrar
        </ion-button>

        <ion-button
          *ngIf="selectedType === 'Escola'"
          expand="block"
          color="secondary"
          (click)="goToRegister()"
          class="register-btn"
        >
          Criar conta
        </ion-button>

        <div class="divider"></div>

        <div class="secondary-actions">
          <a (click)="resetSelection()">Voltar</a>
          <a (click)="forgotPassword()">Esqueci minha senha</a>
        </div>
      </div>
    </ng-container>
  </div>
</ion-content>
