/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@import "styles/form.scss";

ion-app,
ion-content,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background: var(--ion-background-color);
  color: var(--ion-color-dark);
}

ion-item,
ion-card {
  box-shadow: none !important;
  --box-shadow: none !important;
}

ion-button {
  --border-radius: var(--border-radius);
  box-shadow: var(--shadow-sm);
  font-weight: 500;
}

h1,
h2,
h3 {
  margin: var(--spacing-lg) 0 var(--spacing-md);
  font-weight: 500;
}

ion-card {
  padding: var(--spacing-md);
  --background: #fff;
}

.divider-with-label {
  display: flex;
  align-items: center;
  color: var(--ion-color-medium);
  margin: var(--spacing-lg) 0 var(--spacing-sm);
  font-weight: 500;
  font-size: 0.9rem;
}

.divider-with-label::before,
.divider-with-label::after {
  content: "";
  flex: 1;
  height: 1px;
  background: currentColor;
}

.divider-with-label::before {
  margin-right: 0.5em;
}

.divider-with-label::after {
  margin-left: 0.5em;
}
