<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="onCancel()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Cadastro de Escola</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="register-content">
  <form [formGroup]="registerForm" class="register-form">
    <div class="form-grid">
      <!-- ETAPA 1: E‐mail + Enviar Código -->
      <div class="divider-with-label">Dados de Login</div>
      <div class="linha-unica">
        <ion-input
          label="E-mail"
          labelPlacement="floating"
          formControlName="email"
          type="email"
          placeholder="email@exemplo.com"
          fill="outline"
        ></ion-input>
      </div>
      <div class="linha-unica" *ngIf="!emailSent">
        <ion-button
          expand="block"
          (click)="sendCode()"
          [disabled]="sendingCode"
        >
          {{ sendingCode ? 'Enviando código...' : 'Enviar código' }}
        </ion-button>
      </div>

      <!-- ETAPA 1.5: Código de Verificação -->
      <ng-container *ngIf="emailSent && !codeValidated">
        <div class="linha-unica">
          <ion-input
            formControlName="code"
            label="Código de Verificação"
            labelPlacement="floating"
            placeholder="000000"
            fill="outline"
          ></ion-input>
        </div>
        <div class="linha-unica">
          <ion-button
            expand="block"
            (click)="verifyCode()"
            [disabled]="registerForm.get('code')!.invalid || validatingCode"
          >
            {{ validatingCode ? 'Validando...' : 'Confirmar código' }}
          </ion-button>
        </div>
      </ng-container>

      <!-- ETAPA 2: Resto do formulário -->
      <ng-container *ngIf="codeValidated">
        <div class="linha-unica">
          <ion-input
            label="Senha"
            labelPlacement="floating"
            formControlName="password"
            type="password"
            placeholder="••••••••"
            fill="outline"
          ></ion-input>
        </div>

        <div class="divider-with-label">Dados da Escola</div>

        <div class="linha-unica">
          <ion-input
            label="Nome da Escola"
            labelPlacement="floating"
            formControlName="nome"
            placeholder="Digite o nome"
            fill="outline"
          ></ion-input>
        </div>

        <div class="linha-dupla">
          <ion-input
            label="Endereço"
            labelPlacement="floating"
            formControlName="endereco"
            placeholder="Digite o endereço"
            fill="outline"
          ></ion-input>
          <ion-input
            label="Celular"
            labelPlacement="floating"
            formControlName="celular"
            type="tel"
            placeholder="(99) 99999-9999"
            fill="outline"
            [maskito]="phoneMask"
          ></ion-input>
        </div>

        <div class="linha-unica">
          <ion-select
            label="Categorias"
            labelPlacement="floating"
            formControlName="categorias"
            multiple
            fill="outline"
          >
            <ion-select-option
              *ngFor="let c of categoriasOpt"
              [value]="c.value"
            >
              {{ c.text }}
            </ion-select-option>
          </ion-select>
        </div>

        <div class="linha-dupla">
          <ion-input
            label="Início do Treino"
            labelPlacement="floating"
            formControlName="horarioTreinoInicio"
            type="time"
            fill="outline"
          ></ion-input>
          <ion-input
            label="Fim do Treino"
            labelPlacement="floating"
            formControlName="horarioTreinoFim"
            type="time"
            fill="outline"
          ></ion-input>
        </div>

        <div class="linha-unica">
          <ion-select
            label="Dias da Semana"
            labelPlacement="floating"
            formControlName="diasSemana"
            multiple
            fill="outline"
          >
            <ion-select-option *ngFor="let d of diasOpt" [value]="d">
              {{ d }}
            </ion-select-option>
          </ion-select>
        </div>

        <div class="linha-unica">
          <ion-input
            label="Fundação"
            labelPlacement="floating"
            formControlName="fundacao"
            type="date"
            fill="outline"
            placeholder="Dia/Mês/Ano"
          ></ion-input>
        </div>

        <div class="divider-with-label">Dados Bancários</div>
        <div formGroupName="dadosBancarios">
          <div class="linha-unica">
            <ion-input
              label="Favorecido"
              labelPlacement="floating"
              formControlName="favorecido"
              placeholder="Nome do titular"
              fill="outline"
            ></ion-input>
          </div>
          <div class="linha-unica">
            <ion-input
              label="Banco"
              labelPlacement="floating"
              formControlName="banco"
              placeholder="Nome do banco"
              fill="outline"
            ></ion-input>
          </div>
          <div class="linha-dupla">
            <ion-input
              label="Agência"
              labelPlacement="floating"
              formControlName="agencia"
              placeholder="0000"
              fill="outline"
              [maskito]="agencyMask"
            ></ion-input>
            <ion-input
              label="Conta"
              labelPlacement="floating"
              formControlName="conta"
              placeholder="000000-0"
              [maskito]="accountMask"
              fill="outline"
            ></ion-input>
          </div>
          <div class="linha-unica">
            <ion-input
              class="full-width"
              label="Chave Pix"
              labelPlacement="floating"
              formControlName="chavePix"
              placeholder="CPF/CNPJ, e-mail ou telefone"
              fill="outline"
            ></ion-input>
          </div>
        </div>
      </ng-container>
    </div>
  </form>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="footer-buttons">
      <ion-button fill="clear" (click)="onCancel()">Cancelar</ion-button>
      <ion-button
        expand="block"
        (click)="onSubmit()"
        [disabled]="!codeValidated"
      >
        Confirmar
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>
