<ion-app>
  <!-- Menu lateral: somente quando menuEnabled == true -->
  <ion-menu
    *ngIf="menuEnabled"
    contentId="main-nav"
    side="start"
    type="overlay"
  >
    <ion-header>
      <ion-toolbar>
        <!-- usa o PNG em vez de SVG -->
        <ion-img
          src="assets/logo_coruja_svg.png"
          style="width: 36px; height: 36px; margin-right: 8px"
        >
        </ion-img>
        <ion-title>Virtual Scout</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item button *ngFor="let p of appPages" (click)="openPage(p)">
          <ion-icon slot="start" [name]="p.icon"></ion-icon>
          <ion-label>{{ p.title }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <!-- IonNav: id deve bater com contentId do ion-menu -->
  <ion-nav #nav id="main-nav" [root]="rootPage"></ion-nav>
</ion-app>
